[Desktop Entry]
Encoding=UTF-8
Name=Link to mibble/asn1.grammar at master · cederberg/mibble
Type=Link
URL=https://github.com/cederberg/mibble/blob/master/src/grammar/asn1.grammar
Icon=text-html
Name[en_US]=grammar
